@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

$font1: 'Roboto', sans-serif;
$font2: 'Roboto', sans-serif;
$font3: $font2;
$font4: $font2;

//basic setup
$base_font_size: 16px;
$base_line_height: 20px;
$base_font:$font2;
$base_font_weight: 300;

//basic link
$link_decoration: underline;

$paragraph_margin_mobile: 10px 0 20px 0;
$paragraph_margin_tablet: 10px 0 20px 0;
$paragraph_margin_desktop: 10px 0 20px 0;

//===============================================================================
//  HEADINGS
//-------------------------------------------------------------------------------

//heading 1 settings
//-------------------------------------------------------------------------------
$h1_font: $font2;
$h1_line_height: 100%;
$h1_font_weight: 400;

$h1_margin_desktop: 20px 0;
$h1_margin_tablet: 15px 0;
$h1_margin_mobile: 10px 0;

$h1_font_size_desktop: 55px;
$h1_font_size_tablet: 45px;
$h1_font-size_mobile: 30px;

//heading 2 settings
//-------------------------------------------------------------------------------
$h2_font: $font2;
$h2_line_height: 37px;
$h2_font_weight: 300;

$h2_margin_desktop: 20px 0;
$h2_margin_tablet: 15px 0;
$h2_margin_mobile: 10px 0;

$h2_font_size_desktop: 35px;
$h2_font_size_tablet: 28px;
$h2_font-size_mobile: 20px;

//heading 3 settings
//-------------------------------------------------------------------------------
$h3_font: $font2;
$h3_line_height: 110%;
$h3_font_weight: 600;

$h3_margin_desktop: 20px 0;
$h3_margin_tablet: 15px 0;
$h3_margin_mobile: 10px 0;

$h3_font_size_desktop: 25px;
$h3_font_size_tablet: 20px;
$h3_font-size_mobile: 18px;

//heading 4 settings
//-------------------------------------------------------------------------------
$h4_font: $font2;
$h4_line_height: 140%;
$h4_font_weight: 300;

$h4_margin_desktop: 20px 0 0 0;
$h4_margin_tablet: 15px 0 0 0;
$h4_margin_mobile: 10px 0 0 0;

$h4_font_size_desktop: 18px;
$h4_font_size_tablet: 17px;
$h4_font-size_mobile: 16px;

//heading 5 settings
//-------------------------------------------------------------------------------
$h5_font: $font2;
$h5_line_height: 110%;
$h5_font_weight: 700;

$h5_margin_desktop: 20px 0 0 0;
$h5_margin_tablet: 15px 0 0 0;
$h5_margin_mobile: 10px 0 0 0;

$h5_font_size_desktop: 16px;
$h5_font_size_tablet: 15px;
$h5_font-size_mobile: 14px;

//heading 6 settings
//-------------------------------------------------------------------------------
$h6_font: $font2;
$h6_line_height: 110%;
$h6_font_weight: 700;

$h6_margin_desktop: 20px 0 0 0;
$h6_margin_tablet: 15px 0 0 0;
$h6_margin_mobile: 10px 0 0 0;

$h6_font_size_desktop: 14px;
$h6_font_size_tablet: 13px;
$h6_font-size_mobile: 12px;
