//$max-page-width: 1100px;
$max-page-width: 1115px;
$screen-size-mobile: 0px;
//$screen-size-tablet: 650px;
$screen-size-tablet: 790px;
$screen-size-tablet-landscape: 1020px;
$screen-size-desktop: 1280px;
$screen-size-bigscreen: 1500px;
