$button_padding: 7px 15px;
$button_bg_color: transparent;
$button_text_color:#fff;
$button_hover_bg_color: white;
$button_hover_text_color: $color3;
$button_border_radius: 3px;
$button_border_width: 3px;
$button_font: $font2;
$button_font_size: 14px;
$button_font_weight: 500;
$button_line_height: 100%;
